{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>george</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="{% static 'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %}">
      <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' %}" media="screen">
      <!--[if lt IE 9]>
      <script src="{% static 'https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js' %}"></script>
      <script src="{% static 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="#"/></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html"><img src="{% static 'images/logo2.png' %}" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item ">
                                 <a class="nav-link" href="{% url 'index' %}">Home</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'about' %}">About</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'rooms_list' %}">Our rooms</a>
                              </li>
                              <li class="nav-item active">
                                 <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
        <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                      <h2>Blog</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- blog -->
      <div  class="blog">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                    
                     
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="blog_box">
                     <div class="blog_img">
                        <figure><img src="{% static 'images/blog1.jpg' %}" alt="#"/></figure>
                     </div>
                     <div class="blog_room">
                        <h3>Hotel Outdoor Area</h3>
                        <span>Εξωτερικός χώρος ξενοδοχείου</span>
                        <p>Ανακαλύψτε τον ιδανικό χώρο χαλάρωσης και αναψυχής στους εξωτερικούς χώρους του ξενοδοχείου μας. Η προσεγμένη πισίνα αποτελεί το κεντρικό σημείο απόλαυσης για μικρούς και μεγάλους, προσφέροντας στιγμές δροσιάς και ξεκούρασης κάτω από τον ήλιο. Γύρω από την πισίνα, οι άνετες ξαπλώστρες και οι ειδικά διαμορφωμένοι χώροι καθιστικού δημιουργούν το τέλειο περιβάλλον για ηρεμία και απόλυτη χαλάρωση.

Οι εξωτερικές παροχές του ξενοδοχείου συνδυάζουν άνεση, αισθητική και φιλοξενία, προσφέροντας στους επισκέπτες μια μοναδική εμπειρία διαμονής. Είτε θέλετε να απολαύσετε ένα δροσιστικό μπάνιο, είτε να χαλαρώσετε με ένα ποτό δίπλα στην πισίνα, ο εξωτερικός μας χώρος είναι σχεδιασμένος για να κάνει κάθε στιγμή ξεχωριστή.
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="blog_box">
                     <div class="blog_img">
                        <figure><img src="{% static 'images/blog2.jpg' %}" alt="#"/></figure>
                     </div>
                     <div class="blog_room">
                        <h3>Indoor Area</h3>
                        <span>Εσωτερικός χώρος ξενοδοχείου</span>
                        <p>Ο εσωτερικός χώρος του ξενοδοχείου μας έχει σχεδιαστεί για να προσφέρει άνεση, ζεστασιά και στιγμές χαλάρωσης σε κάθε επισκέπτη. Το κομψό εστιατόριο του ξενοδοχείου σας καλωσορίζει καθημερινά με προσεγμένες γεύσεις και ποιοτικές επιλογές φαγητού, σε έναν χώρο που συνδυάζει μοντέρνα αισθητική και φιλόξενη ατμόσφαιρα.

Παράλληλα, ο ειδικά διαμορφωμένος χώρος ανάπαυσης αποτελεί το ιδανικό σημείο για στιγμές ξεκούρασης και διασκέδασης. Απολαύστε τον καφέ ή το ποτό σας σε ένα άνετο και ήρεμο περιβάλλον, ενώ οι διαθέσιμες επιλογές επιτραπέζιων παιχνιδιών προσφέρουν ευχάριστες στιγμές για παρέες και οικογένειες. Ο εσωτερικός μας χώρος δημιουργήθηκε με στόχο να προσφέρει μια ολοκληρωμένη εμπειρία φιλοξενίας, συνδυάζοντας χαλάρωση, γεύση και ψυχαγωγία.

                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="blog_box">
                     <div class="blog_img">
                        <figure><img src="{% static 'images/blog3.jpg' %}" alt="#"/></figure>
                     </div>
                     <div class="blog_room">
                        <h3>Bed Room</h3>
                        <span>Δωμάτια ξενοδοχείου</span>
                        <p>Τα δωμάτια του ξενοδοχείου μας είναι σχεδιασμένα για να προσφέρουν άνεση, λειτουργικότητα και μια ευχάριστη εμπειρία διαμονής σε κάθε επισκέπτη. Με προσεγμένη διακόσμηση και σύγχρονες παροχές, δημιουργούν το ιδανικό περιβάλλον για ξεκούραση και χαλάρωση μετά από μια γεμάτη ημέρα.

Κάθε δωμάτιο διαθέτει άνετα κρεβάτια, κλιματισμό, δωρεάν Wi-Fi, τηλεόραση και πλήρως εξοπλισμένο ιδιωτικό μπάνιο, καλύπτοντας όλες τις ανάγκες μιας σύγχρονης διαμονής. Παράλληλα, οι προσεγμένοι χώροι και οι επιπλέον ανέσεις εξασφαλίζουν στιγμές ηρεμίας και άνεσης, είτε ταξιδεύετε για διακοπές είτε για επαγγελματικούς λόγους.

Στόχος μας είναι να προσφέρουμε έναν φιλόξενο και ποιοτικό χώρο, όπου κάθε επισκέπτης θα αισθάνεται σαν στο σπίτι του, απολαμβάνοντας υψηλό επίπεδο εξυπηρέτησης και φιλοξενίας.

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end blog -->
     
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class=" col-md-4">
                     <h3>Contact US</h3>
                     <ul class="conta">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Address</li>
                        <li><i class="fa fa-mobile" aria-hidden="true"></i> +01 1234569540</li>
                        <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="#"> hotelgeorge@gmail.com</li>
                     </ul>
                  </div>
                  <div class="col-md-4">
                     <h3>Menu Link</h3>
                     <ul class="link_menu">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}"> about</a></li>
                        <li><a href="{% url 'rooms_list' %}">Our Rooms</a></li>
                        <li class="active"><a href="={% url 'blog' %}">Blog</a></li>
                        <li><a href="{% url 'profile' %}">My Profile</a></li>
                     </ul>
                  </div>
                  <div class="col-md-4">
                     <h3>News letter</h3>
                     <form class="bottom_form">
                        <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                        <button class="sub_btn">subscribe</button>
                     </form>
                     <ul class="social_icon">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-10 offset-md-1">
                        <p>
                           © 2019 All Rights Reserved. Design by <a href="https://html.design/"> Free Html Templates</a>
                           <br><br>
                           Distributed by <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
                           </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
   </body>
</html>